@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), local("TT Lakes Light"),
    local("TTLakes-Bold") url("font-family/TTLakes-Regular.woff2")
      format("woff2"),
    url("font-family/TTLakes-Medium.woff2") format("woff2"),
    url("font-family/TTLakes-Bold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 320px;
  max-width: 1366px;
}

.round-btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 62, 121, 1);
  cursor: pointer;
}
.round-btn:hover {
  transition-duration: 1s, 5s;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
.round-btn:active {
  background-color: rgb(1, 10, 7);
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 100vh;
  overflow: auto;
  z-index: 100;
  box-shadow: 5px -20px 20px 10px #cacaca;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  gap: 16px;
}
.header__round-btn {
  margin: 0 24px;
}
.header__round-btn_pos {
  margin-right: 0;
}
.header__logo {
  display: block;
  margin-right: auto;
}
.header__logo:hover {
  transform: rotate(2turn);
  transition-duration: 1s, 10s;
  transition-timing-function: ease-in-out;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 45px;
}
.nav__list_reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__a {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  margin-left: 24px;
  font-family: "TT Lakes Light";
  padding: 10px;
  font-size: 16px;
  color: rgba(27, 28, 33, 1);
}
.nav__a_reset {
  text-decoration: none;
}
.nav__a:hover {
  text-decoration: underline;
}
.nav__a:active {
  filter: brightness(50%);
}
.nav__a_active {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  color: rgba(126, 126, 130, 1);
}
.nav__a_active::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 32px;
  margin-left: 0;
  margin-right: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(65, 246, 215, 1);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: auto;
  padding-left: 24px;
}

.footer__btn {
  display: flex;
  gap: 16px;
  padding: 0;
  margin-bottom: 16px;
}

.nav__mail-contact {
  font-family: "TT Lakes";
  font-size: 16px;
  margin-bottom: 12px;
}
.nav__mail-contact_reset {
  text-decoration: none;
  color: black;
}
.nav__phone-contact {
  font-family: "TT Lakes";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.lang-menu {
  display: flex;
  gap: 7px;
}
.lang-menu_margin {
  margin-top: 40px;
  margin-bottom: 32px;
}
.lang-menu__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: rgba(27, 28, 33, 1);
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: medium;
}
.lang-menu__btn_active {
  color: rgba(126, 126, 130, 1);
}
